.ux-lovcombo-icon {
	width:16px;
	height:16px;
	float:left;
	background-position: -1px -1px ! important;
	background-repeat:no-repeat ! important;
}
.ux-lovcombo-icon-checked {
	background: transparent url(../checked.gif);
}
.ux-lovcombo-icon-unchecked {
	background: transparent url(../unchecked.gif);
}
